{% extends 'news/base.html' %}
{% load news_tags %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %}
    <div class="list-group">
        <div class="list-group">
            <div class="list-group-item list-group-item-action active">The most popular news from "{{ title }}"</div>

            <a href="{{ popular_news.get_absolute_url }}"
               class="list-group-item list-group-item-action">{{ popular_news }}</a>
        </div>
        <br>
    </div>
{% endblock %}
{% block content %}
    {% for item in news %}
        <div class="card mb-3 ">
            <div class="card-header">
                <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
            </div>
            <div class="card-body">
                <div class="media">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:100 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"Y-m-d H:i" }}<br>Views: {{ item.views }}<br>By {{ item.author }}
            </div>
        </div>
    {% endfor %}

{% endblock %}



