{% extends 'news/base.html' %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
    <div class="card mb-3 ">
        <div class="card-header">
            <a href="{{ news.category.get_absolute_url }}">{{ news.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if news.photo %}
                    <img src="{{ news.photo.url }}" alt="" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.content|safe|linebreaks }}</p>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news.created_at|date:"Y-m-d H:i" }}<br>Views: {{ news.views }}<br>By {{ news.author }}
            {% if request.user == news.author %}
                <br><a href="{% url 'update-news' news.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete-news' news.pk %}" class="btn btn-primary">Delete</a>
            {% endif %}
        </div>
    </div>

{% endblock %}




