{% extends 'news/base.html' %}
{% block title %}{{ news.title }}{% endblock %}
{% block sidebar %}
    {% include 'includes/_sidebar.html' %}
{% endblock %}
{% block content %}
    <div class="card mb-3 ">
        <div class="card-header">
            <a href="{{ news.category.get_absolute_url }}">{{ news.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if news.photo %}
                    <img src="{{ news.photo.url }}" alt="" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.content|safe|linebreaks }}</p>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news.created_at|date:"Y-m-d H:i" }}<br>Просмотров: {{ news.views }}
            <br><a href="{% url 'update-news' news.pk %}">Update</a>
            <br><a href="{% url 'delete-news' news.pk %}">Delete</a>
        </div>
    </div>

{% endblock %}




