{% extends 'news/base.html' %}
{% block title %}{{ news_item.title }}{% endblock %}
{% block sidebar %}
    {% include 'includes/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3 ">
        <div class="card-header">
            <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if news_item.photo %}
                    <img src="{{ news_item.photo.url }}" alt="" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H:i" }}<br>Просмотров: {{ news_item.views }}
        </div>
    </div>

{% endblock %}



